
@import "colores";
$microTitulo:20px;
$microParrafo:15px;
$tituloD:40px;
$subtituloD:30px;
$tituloM:$tituloD/2;
$subtituloM:$subtituloD/2;
$parrafoD:25px;
$parrafoM:$parrafoD/2;

.links{
	a{
	font-size:$parrafoD;
	color:$Naranja !important;
	font-style:bold;
	}
}

.centrarImagenes{
	margin-left:250px
}

.carrusel_index{
	margin-left:250px
}

.titulos{
	h1{
		font-size:$tituloD;
		color:$Naranja;
		text-align:center;
		text-decoration:underline;
		font-style:Bold;
	}
	@media only screen and (max-width:767px){
	h1{
	font-size:$tituloM;
	color:$Naranja;
	text-align:center;
	text-decoration:underline;
	font-style:Bold;
	}
	}
}

.subtitulos{
	h2{
		font-size:$subtituloD;
		color:$Amarillo;
		font-style:italic;
		text-transform:uppercase;
		text-decoration:underline;
	}
}

.warning{
	p{
	font-size:$parrafoD;
	color:$Amarillo;
	}
}

.parrafos{
	p{
	font-size:$parrafoD;
	color:$Naranja;
	font-style:bold;
	background-color:$Negro;
	}
}

.vinculos{
	color:$Verde;
}

.diseñoLista{
	li{
	font-size:$parrafoD;
	color:$Naranja;
	font-style:bold;
	background-color:$Negro;
	}
}

.microSection{
	h1{
		font-size:$tituloD;
		color:$Naranja !important;
		text-align:center;
		text-decoration:underline;
		font-style:Bold;
	}
	}
