<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,600&display=swap" rel="	stylesheet">
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<!-- css -->
	<link rel="stylesheet" href="../css/estilo.css">
	<title>Guias de Clase</title>
</head>
<body class="backgroundGeneral">
<header >
    <!-- inicio nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light backgroundGeneral ">
      <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
      <img src="../assets/img/logo-PhotoRoom.png" width="50" height="50" alt="">
  </a>
</nav>
  <div class="collapse navbar-collapse links" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active links">
        <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/nostros.html">Nosotros</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Guias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../views/guiasDeClase.html">Guias de Clase</a>
          <a class="dropdown-item" href="../views/guiaDeProfesion.html">Guias de profesion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="..views/Macros.html">Macros</a>
        </div>
      </li>
      </ul>
   
  </div>
</nav>
	</header>
  <div class="container ">
    <div class="container fluid col-lg-12 col-xs-12 titulos parrafos">
      <section class=" col-lg-12 col-xs-12 ">
      <h1>Guias</h1>
    </section>
    <section>
      <p>Bienvenidos a la seccion de guias, en este espacio podras encontrar las mejores guias en profundidad para tu clase  
      </p>
    </section>
    </div>
    <div class="card-deck">
  <div class="card ">
    <img src="../assets/img/iconos_de_clase/warlock_crest.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Brujo</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="../views/Brujo.html" class="btn btn-primary">Ir a la guia</a>
    </div>
  </div>
  <div class="card ">
    <img src="../assets/img/iconos_de_clase/Rogue_crest.png" class="card-img-top" alt="...">
    <div class="card-body backgroundMenuClase">
      <h5 class="card-title">Picaro</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="../views/picaro.html" class="btn btn-primary">Ir a la guia</a>
    </div>
  </div>

  <div class="card">
    <img src="../assets/img/iconos_de_clase/Hunter_crest.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <h5 class="card-title">Cazador</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Ir a la guia</a>
    </div>
  </div>
</div>
  </div>	

	<!-- scripts -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<!-- fin de scripts -->
</body>
</html>
