<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,600&display=swap" rel="	stylesheet">
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<!-- css -->
	<link rel="stylesheet" href="../css/estilo.css">
	<title>Tips de la Semana</title>
</head>
<body class="backgroundGeneral">
	<header >
		<!-- inicio nav -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light backgroundGeneral ">
  		<nav class="navbar navbar-light bg-light">
  		<a class="navbar-brand" href="#">
    	<img src="assets/img/logo-PhotoRoom.png" width="50" height="50" alt="">
  </a>
</nav>
  <div class="collapse navbar-collapse links" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active links">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nosotros</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Guias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Guias de Clase</a>
          <a class="dropdown-item" href="#">Guias de profesion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Macros</a>
        </div>
      </li>
      </ul>
   
  </div>
</nav>
	</header>
	<div class="container fluid">
		<section class="col-lg-12 col-xs-12 titulos">
			<h1>Tips de la semana: Evitar el sangrado del ejecutor Varruth</h1>
		</section>
		<section class="col-lg-12 col-xs-12 parrafos">
			<p>
				This Mythic+ tip of the week revolves around Verdugo Varruth, one of the lieutenants from the  Atormentado seasonal affix. There is a way to avoid the damage from his  Carnicería cast if you have the right tools.
			</p>
			<p>
				Tabla de contenidos
Dodging Executioner Varruth
Threat Drop Ability
Dodge / Parry
Why Should You Do This?
Potential Other Abilities
Dodging Executioner Varruth
Threat Drop Ability
One way to avoid the damage from  Carnicería is to be a Rogue, a Hunter, a Mage, or a Night Elf and use a form of combat drop while he's mid charge. This allows you to mitigate the damage at the trade of your ability. These abilities are:
 Esfumarse for Rogues
 Fingir muerte for Hunters
 Invisibilidad for Mages
 Fusión de las sombras for Night Elves
Once his cast is finished and he has started moving, you are clear to use these abilities. Note that for mages, you will need to use Invisibility once he targets you and make some space, since it takes a few seconds to activate.
Dodge / Parry
Another way to dodge Executioner Varruth's  Carnicería is to use any ability which allows players to Dodge or Parry attacks.

This includes  Muerte a espada from Warriors and  Evasión for Rogues.
Why Should You Do This?
In addition to the healing debuff caused by Varruth in the form of  Tanatofobia making it hard to catch up from the damage taken, this damage will eventually become unhealable. Whether that is in the form of a one shot or your healer not being able to top you before the next charge comes out, being able to dodge this successfully will be very important.
Potential Other Abilities
While I don't have confirmation on any of these working yet, I have been told by a few people that there are a few more abilities that you can do this with. The caveat is that they require you to be very far away from Varruth in order to make them work, so while it can be done it may not be worth the time or effort until the ability is one shotting you. The speculated abilities are  Traslación (and all other forms of the ability, such as Night Fae's  Forma de alma, Warlock's  Círculo demoníaco: Teletransporte, etc.) and Venthyr's  Puerta de las Sombras. If you find yourself able to test these and they do work, please let me know!
			</p>
		</section>
		
	</div>
	<!-- scripts -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<!-- fin de scripts -->
</body>
</html>